<div class="container-fluid">
  <div class="row">
    <%- include('../partials/admin_sidebar.ejs') %>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <div class="container mt-5">
        <div class="card">
          <div class="card-header">
            <h4>User Account Information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="<%= profileimage ? profileimage : '/img/user.jpg' %>" 
                  class="rounded-circle img-thumbnail img-fluid" 
                  alt="User Avatar" style="width: 150px ; max-width: 200px; height: auto;">
              </div>
              <div class="col-md-8">
                <h5 class="card-title mb-4"><%= displayname %></h5>
                <p class="card-text"><strong>Email:</strong> <%= emailaddress %></p>
                <p class="card-text"><strong>Company Name:</strong> <%= companyname %></p>
                <p class="card-text"><strong>Admin PIN:</strong>
                  <% if(adminpassword){ %>
                    ****
                  <% } else { %>
                    
                  <% } %>
                </p>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted text-center">
            <button class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#accountModal">
              Edit
            </button>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="card text-center">
          <div class="card-header">
            <h4>Account Kiosk</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <a id="kioskLink" target="_blank"></a>
                
                <div id="qrcode" class="mt-3 mb-5">
                  <!-- QR Code -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<!-- update account modal -->
<div class="modal fade" id="accountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Account</h5>
      </div>
      <form id="updateAccountForm" method="POST">
        <div class="modal-body">

          <div id="error-message" class="alert alert-danger d-none"></div>
          <div id="success-message" class="alert alert-success d-none"></div>
          
          <div class="input-group mb-3">
            <span class="input-group-text">New Company Name</span>
            <input id="companyname" name="companyName" value="<%= companyname %>" type="text" class="form-control">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Admin PIN</span>
            <input id="adminpassword" name="adminPassword" type="password" maxlength="4" class="form-control" placeholder="****" 
              oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);">
            <span class="input-group-text" id="passEye">
              <a class="pe-auto link-success" href="javascript:void(0);">
                <i id="js-eyeicon" class="js-password bi bi-eye-slash-fill"></i>
              </a>
            </span>
          </div>

          <% if(adminpassword){ %>
            <div class="input-group mb-3">
              <span class="input-group-text">New PIN</span>
              <input id="newpassword" name="newPassword" type="password" maxlength="4" class="form-control" placeholder="****"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);">
              <span class="input-group-text">
                <a class="pe-auto link-success" href="javascript:void(0);" id="newPassEye">
                  <i class="js-password bi bi-eye-slash-fill"></i>
                </a>
              </span>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Confirm New PIN</span>
              <input id="confirmpassword" name="confirmPassword" type="password" maxlength="4" class="form-control" placeholder="****"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);">
              <span class="input-group-text">
                <a class="pe-auto link-success" href="javascript:void(0);" id="confirmPassEye">
                  <i class="js-password bi bi-eye-slash-fill"></i>
                </a>
              </span>
            </div>

            <div class="form-check">
              <input id="removepassword" name="removePassword" class="form-check-input" type="checkbox" value="true">
              <label class="form-check-label" for="removepassword">
                Remove PIN
              </label>
            </div>

          <% } %>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

<!-- generate qr code -->
<script>
  function generateKioskDetails() {
    const kioskPath = "/kiosk"; // Update this with your actual kiosk path
    const baseUrl = "https://kokapos.onrender.com";
    const kioskUrl = `${baseUrl}${kioskPath}`;

    // Set the kiosk link
    const kioskLinkElement = document.getElementById("kioskLink");
    kioskLinkElement.href = kioskUrl;
    kioskLinkElement.textContent = kioskUrl;

    const qrCodeElement = document.getElementById("qrcode");
    new QRCode(qrCodeElement, {
      text: kioskUrl,
      width: 200,
      height: 200,
    });
  }
  // Call the function to generate the details when the page loads
  window.onload = generateKioskDetails;
</script>

<script>
document.getElementById('updateAccountForm').addEventListener('submit', async function(event) {
  event.preventDefault(); // Prevent default form submission

  const form = event.target;
  const formData = new FormData(form);
  
  // Convert FormData to a JSON object
  const formObj = {};
  formData.forEach((value, key) => {
    formObj[key] = value;
  });

  const url = `/pos/admin/account/<%= accountID %>?_method=PUT`;

  // Hide previous messages
  document.getElementById('error-message').classList.add('d-none');
  document.getElementById('success-message').classList.add('d-none');
  
  try {
    const response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formObj)
    });

    const result = await response.json();

    if (result.success) {
      // Show success message
      const successMessage = document.getElementById('success-message');
      successMessage.innerHTML = result.message;
      successMessage.classList.remove('d-none');
    } else {
      // Show error message
      const errorMessage = document.getElementById('error-message');
      errorMessage.innerHTML = result.message;
      errorMessage.classList.remove('d-none');
    }
  } catch (error) {
    // Handle fetch error
    const errorMessage = document.getElementById('error-message');
    errorMessage.innerHTML = 'An unexpected error occurred. Please try again.';
    errorMessage.classList.remove('d-none');
  }
});
document.getElementById('accountModal').addEventListener('hidden.bs.modal', function () {
  location.reload();
});
</script>

// HIDE PASSWORD FUNCTION
<script>
  document.addEventListener('DOMContentLoaded', () => {
  function togglePasswordVisibility(inputId, iconId) {
    let inputField = document.getElementById(inputId);
    let iconElement = document.getElementById(iconId);

    // Check if the elements exist before proceeding
    if (inputField && iconElement) {
      let icon = iconElement.querySelector('i');
      icon.addEventListener("click", () => {
        if (inputField.type === "password") {
          inputField.type = "text";
          icon.classList.remove("bi-eye-slash-fill");
          icon.classList.add("bi-eye-fill");
        } else {
          inputField.type = "password";
          icon.classList.remove("bi-eye-fill");
          icon.classList.add("bi-eye-slash-fill");
        }
      });
    }
  }

  // Apply toggle function to each password field only if the elements exist
  togglePasswordVisibility('adminpassword', 'passEye');
  togglePasswordVisibility('newpassword', 'newPassEye');
  togglePasswordVisibility('confirmpassword', 'confirmPassEye');
});

</script>



