<div class="container-fluid">
  <div class="row">
    <%- include('../partials/admin_sidebar.ejs') %>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/pos/admin/discount">Discounts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </ol>
      </nav>
      <div class="mb-3">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#discountModal">
          + New Discount
        </button>
      </div>
      <div class="modal fade" id="discountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Discount</h5>
            </div>

            <form action="/pos/admin/newDiscount" method="POST">
              <div class="modal-body">
                <div class="input-group mb-3">
                  <span class="input-group-text">Name</span>
                  <input name="name" id="name" type="text" class="form-control" placeholder="Discount name" required>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">%</span>
                  <input name="value" id="value" type="number" class="form-control" placeholder="Value in percent" min="0" step="0.01" required>
                  <span class="input-group-text">.00</span>
                </div>

                <div class="input-group">
                  <span class="input-group-text">Description</span>
                  <textarea name="description" id="description" class="form-control"></textarea>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-12 mb-4 mb-lg-0">
          <div class="card">
            <div class="card-header">
              <input id="discount-search" class="w-25 form-control form-control-dark" type="text" placeholder="Search..." aria-label="Search">
            </div>
            <div class="card-body">
              <!-- Success message -->
              <% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= success_msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
              <!-- Error message -->
              <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%= error_msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              <% } %>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Value</th>
                      <th scope="col">Description</th>
                      <th scope="col">Created</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <% if(discounts.length > 0) { %> 
                    <% discounts.forEach( discount => { %>
                      <tbody id="discount-list">
                        <tr class="discount-row">
                          <td scope="row"><%= discount.name %></td>
                          <td><%= discount.value %> %</td>
                          <td><%= discount.description %></td>
                          <td><%= new Date( discount.createdAt ).toLocaleString() %></td>
                          <td>
                            <a href="/pos/admin/discount/<%= discount._id %>" class="btn btn-sm btn-secondary px-3">
                              Edit
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    <% }) %>
                  <% } else { %>
                    <div>
                      <p class="text-danger">you don't have discount yet.</p>
                    </div>
                  <% } %>
                </table>
                <div id="no-results" class="text-center" style="display: none;">
                  No results found.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- search function -->
<script>
  document.getElementById('discount-search').addEventListener('input', function () {
    const searchQuery = this.value.toLowerCase();
    const discountRows = document.querySelectorAll('.discount-row');
    let hasResults = false;

    discountRows.forEach(row => {
      const discountName = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
      const discountValue = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
      
      if (discountName.includes(searchQuery) || discountValue.includes(searchQuery)) {
        row.style.display = '';
        hasResults = true;
      } else {
        row.style.display = 'none';
      }
    });

    // Show "No results" message if no rows match the search query
    document.getElementById('no-results').style.display = hasResults ? 'none' : 'block';
  });
</script>