
<div class="container-fluid w-75">
  <div class="row">

    <%- include('../partials/admin_sidebar.ejs') %>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <div class="col-12 col-xl-12 mb-4 mb-lg-0">
        <nav class="w-50">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/pos/admin/product">Products</a></li>
              <li class="breadcrumb-item active"><%= product.name %></li>
          </ol>
        </nav>

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title">Edit Product</h5>
            <a class="btn btn-sm btn-danger" id="deleteButton" data-bs-toggle="modal" data-bs-target="#deleteProductModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
            </a>
          </div>
        <form action="/pos/admin/product/<%= productID %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="card-body">
              <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input id="name" name="name" value="<%= product.name %>" type="text" class="form-control" placeholder="name" required>
              </div>
  
              <div class="input-group mb-3">
                <span class="input-group-text">Category</span>
                <select name="category" class="form-select">
                  <% categories.forEach(category => { %>
                    <option value="<%= category._id %>" 
                      <%= category._id.equals(product.category._id) ? 'selected' : '' %>>
                      <%= category.name %>
                    </option>
                  <% }) %>
                  <option value="" <%= !product.category._id ? 'selected' : '' %>>Uncategorized</option>
                </select>
              </div>
  
              <div class="input-group mb-3">
                <span class="input-group-text">₱</span>
                <input id="price" name="price" value="<%= product.price %>" type="number" class="form-control" placeholder="Price" min="0" step="0.01" required>
                <span class="input-group-text">.00</span>
              </div>
  
              <div class="input-group mb-3">
                <span class="input-group-text">Quantity</span>
                <input id="quantity" name="quantity" value="<%= product.quantity %>" type="number" class="form-control" min="1" step="1" required>
              </div>

              <!-- Display the current image -->
              <div class="input-group mb-3">
                <img src="<%= product.image %>" class="img-thumbnail rounded-3" style="width: 100px; height: 100px; object-fit: cover;" alt="Current Image">
              </div>

              <div class="input-group mb-3">
                <input id="image" name="image" type="file" class="form-control">
              </div>
            
          </div>
          
          <div class="card-footer text-start">
            <button type="submit" class="btn btn-success px-5">Save Changes</button>
            <button type="button" class="btn btn-secondary px-5">
              <a href="/pos/admin/product" style="text-decoration: none; color: #fff;">Cancel Edit</a>
            </button>
          </div>
        </form>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- delete modal -->
<div class="modal" id="deleteProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">
          You are about to delete a product
        </h5>
      </div>
      
      <div class="modal-body">
        <p>
          This will delete your product <b class="fw-bold text-danger"><%= product.name %></b><br/>
          Are you sure?
        </p>
      </div>

      <!-- footer -->
      <form action="/pos/admin/delete-product/<%= productID %>?_method=DELETE" method="POST">
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
        </div>
      </form>
    </div>
  </div>
</div>

